@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  height: 100vh;
  color: #e0f2fe;
  background-color: #0c4a6e;
}

.sidebar-title {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  font-size: 2rem;
}

.sidebar-title > svg {
  width: 50px;
  height: 50px;
}

.sidebar-title > span {
  font-weight: 600;
  text-transform: capitalize;
}

.close-btn-container {
  display: none;
}

.sidebar-menues {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
}

.sidebar-menu-1 > ul > li,
.sidebar-menu-2 > ul > li
{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-weight: 500;
  padding: 5px 0 5px 25px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.sidebar-menu-1 > ul > li:hover,
.sidebar-menu-2 > ul > li:hover {
  color: #0369a1;
  background-color: #dbeafe;
}

.sidebar-menu-1 > ul > li > svg,
.sidebar-menu-2 > ul > li > svg {
  width: 20px;
  height: 20px;
}

.sidebar-menu-2 {
  align-items: flex-end;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 6px;
  width: 28px;
  cursor: pointer;
}

.hamburger-menu > div {
  border: 2px solid #0c4a6e;
}

@media only screen and (max-width: 1000px) {
  body {
    grid-template-columns: 250px 1fr;
  }

  .sidebar-title {
    font-size: 25px;
  }

  .sidebar-menu-1 > ul > li,
  .sidebar-menu-2 > ul > li
{
  font-size: 20px;
}
}

@media only screen and (max-width: 768px) {
  body {
    grid-template-columns: 50px 1fr;
  }

  .sidebar {
    display: none;
    position: fixed;
  }

  .sidebar-menues {
    height: 70vh;
  }

  .sidebar-title {
    padding: 0 15px 15px 15px;
  }

  .close-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 15px 15px 0 0;
  }

  .close-btn {
    width: 30px;
    height: 30px;
    color: #0ea5e9;
    cursor: pointer;
  }

  .open {
    display: block;
    width: 55vw;
  }

  .close {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}