@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: #e0f2fe;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  color: #e0f2fe;
  background-color: #0c4a6e;
}

.sidebar-title {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 10px;
  font-size: 2rem;
}

.sidebar-title > svg {
  width: 50px;
  height: 50px;
}

.sidebar-title > span {
  font-weight: 600;
  text-transform: capitalize;
}

.close-btn-container {
  display: none;
}

.sidebar-menues {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
}

.sidebar-menu-1 > ul > li,
.sidebar-menu-2 > ul > li
{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-weight: 500;
  padding: 5px 0 5px 25px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.sidebar-menu-1 > ul > li:hover,
.sidebar-menu-2 > ul > li:hover {
  color: #0369a1;
  background-color: #dbeafe;
}

.sidebar-menu-1 > ul > li > svg,
.sidebar-menu-2 > ul > li > svg {
  width: 20px;
  height: 20px;
}

.sidebar-menu-2 {
  align-items: flex-end;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 6px;
  width: 28px;
  padding-top: 24px;
  margin-left: 15px;
  cursor: pointer;
}

.hamburger-menu > div {
  border: 2px solid #0c4a6e;
}

.header-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  box-shadow: 1px 6px 5px #888888;
  padding-left: 50px;
}

.search-and-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

label > svg {
  width: 28px;
  height: 28px;
  color: #0c4a6e;
}

.search {
  display: flex;
  align-items: center;
}

.search > input {
  width: 100%;
  margin-left: 5px;
  border: transparent;
  border-radius: 19px;
  background-color: #e0f2fe;
  font-size: 18px;
  transition: box-shadow 0.2s ease-in-out;
  outline: none;
  padding: 7px 0 7px 10px;
}

.search > input:focus {
  box-shadow: 0 0 0 2px #075985;
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5vw;
}

.profile > svg {
  width: 30px;
  height: 30px;
  margin-right: 5vw;
  color:#0c4a6e;
  cursor: pointer;

  transition: color 0.2s ease-in-out;
}

.profile > svg:hover {
  color: #0369a1;
  animation: ring-the-bell 0.8s both;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 50px;
}

.profile-pic-container > img {
  max-width: 100%;
  max-height: 100%;
}

.username {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #0369a1;
  cursor: pointer;
  padding: 20px;

  transition: all 0.2s ease-in-out;
}

.username:hover {
  background-color: #0c4a6e;
  color: #dbeafe;
}

.user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 15px;
}

.user-pic-and-username {
  display: flex;
  align-items: center;
  color: #0c4a6e;
  gap: 20px;
}

.user-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 90px;
  overflow: hidden;
  border-radius: 50px;
}

.user-pic-container > img {
  max-width: 100%;
  max-height: 100%;
}

.user-username-tag {
  font-weight: 500;
}

.user-username-tag > div:nth-child(1) {
  font-size: 15px;
}

.user-username-tag > div:nth-child(2) {
  font-size: 25px;
  letter-spacing: 1px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button-container > button {
  font-size: 17px;
  font-weight: 600;
  color: #0369a1;
  border: 2px solid #0369a1;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  text-transform: capitalize;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.button-container > button:hover {
  background-color: #0369a1;
  color: white;
  border-color: white;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'projects announcements'
    'projects trending';
  border: 1px solid fuchsia;
}

.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.projects-content {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 350px 350px 350px;
}

.projects-content > div {
  border: 1px solid red;
}

.announcements {
  grid-area: announcements;
  display: flex;
  flex-direction: column;
}

.announcements-content > div {
  border: 1px solid blue;
}

.trending {
  grid-area: trending;
  display: flex;
  flex-direction: column;
}

.trending-content {
  border: 1px solid green;
}

@media only screen and (max-width: 1300px) {
  body {
    grid-template-columns: 250px 1fr;
  }

  .sidebar-title {
    font-size: 25px;
  }

  .sidebar-menues {
    height: 60vh;
  }

  .sidebar-menu-1 > ul > li,
  .sidebar-menu-2 > ul > li
{
  font-size: 20px;
}
}

@media only screen and (max-width: 1080px) {
  body {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
    position: fixed;
  }

  .sidebar-menues {
    height: 70vh;
  }

  .sidebar-title {
    padding: 0 15px 15px 15px;
  }

  .close-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 15px 15px 0 0;
  }

  .close-btn {
    width: 30px;
    height: 30px;
    color: #0ea5e9;
    cursor: pointer;
  }

  .open {
    display: block;
    width: 40vw;
  }

  .close {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    position: absolute;
  }

  .search {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 590px) {
  .sidebar {
    width: 70%;
  }

  .sidebar-menu-1 > ul > li,
  .sidebar-menu-2 > ul > li
{
  font-size: 20px;
}

.header-container {
  padding-left: 0;
  gap: 0;
}

.search-and-profile {
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 20px 20px 0 20px
}

.profile {
  padding-right: 0;
  justify-content: center;
}

.user {
  display: flex;
  justify-content: center;
}

.user-pic-and-username {
    display: none;
}
}


@keyframes ring-the-bell {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-10px) rotate(4deg);
  }
  30% {
    transform: translateX(4px) rotate(-4deg);
  }
  45% {
    transform: translateX(-4px) rotate(3.6deg);
  }
  60% {
    transform: translateX(2px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-1px) rotate(1.2deg);
  }
}